.social {
    margin: 15px 0px 0px 15px;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 15px;

    i {
        margin: 0px 10px;
        font-size: 35px;
        color: #0B2343;
    }

    .email {
        text-decoration: none;
        color: #0B2343;
        float: right;
        margin: 0;
        padding: 0;
        margin-right: 30px;
        margin-top: 10px;

        font-size: 20px;
    }
}