<body>
    <header>
      <h4 class="logo">A-M</h4>
      <nav>
        <ul class="nav_links">
          <li><a href="#app-home-page">Home</a></li>
          <li><a href="#app-about-page">About</a></li>
          <li><a href="#app-experience-page">Experience</a></li>
          <li><a href="#app-connect-page">Connect</a></li>
          <a class="cta" target="_blank" href="https://drive.google.com/drive/folders/11ECNTrsyhukXkhyQEqIqqayRVJM2F-Tp?usp=sharing">
            <button>Resume</button>
          </a>
        </ul>
      </nav>
    </header>
  </body>