<div class="about">
    <div class="about-header">
        <p class>About Me</p>
    </div>
    <p>
        Hello! I'm Avraham Moshe, a software engineer based in<br> 
        Miami, FL.<br>
        <br>
        I enjoy creating things that live on the internet, whether<br>
        be websites, applications, or anything in between.<br>
        My goal is to always build products that provide pixel-<br>
        perfect, performant experiences.<br>
        <br>
        Shortly after graduating from Northeastern University, I<br>
        joined the engineering team at Upstatement where I <br>
        work on a wide variety of interesting and meaningful<br>
        projects on a daily basis.<br>
    </p>
</div>