<div class="content">
    <div class="row">
        <div class="column left">
            <p class="column-header">About Me</p>
            <p class="column-text">
                Hello! My name is Avraham Moshe and I am a software developer based in
                Miami, Florida.
                <br>
                <br>
                I began my passion of learning code through the wonderful world of Youtube.
                From one video to the next, I found myself learning skills like game development,
                software development, and everything in between. Through experience within different 
                companies creating web scrapers, native applications, web APIs, and various databases,
                 I’ve become very familiar within the domain of software. 
                 <br>
                 <br>
                Currently, I am studying for a computer science degree at Florida International University
                where I am diversifying my development skills.  My goal is to continue and perfect the art of computer
                science through many more opportunities.
            </p>
        </div>
        <div class="column right">
            <img src="/assets/img/Self Profile.png" width="310" height="350">
            <p>
                "A user interface is like a joke.<br>
                if you have to explain it,<br>
                its not that good" — Martin Leblanc
            </p>
        </div>
    <app-next-page-button id="app-about-page" btnText="Experience" btnUrl="#app-experience-page"></app-next-page-button>
  </div>
</div>