$base-color: rgba(111, 165, 191, 1);
$base-light-color: rgba(111, 156, 191, 1);
$primary-color: rgba(3, 200, 158, 1);
$secondary-color: rgba(11, 35, 67, 1);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Tahoma";
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: rgba(17, 74, 117, 1);
}

.content {
    position: relative;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 100vh;
  }
  
  .left {
    width: 55%;
    padding: 10% 2% 12% 20%;

    .column-header {
        color: black;
        font-weight: bold;
        font-size: 36px;
    }

    .column-text {
        margin-top: 15px;
        font-weight: normal;
        font-size: 20px;
        line-height: 38px;
        color: rgba(17, 74, 117, 1);
    }
  }
  
  .right {
    width: 40%;
    float: right;
    padding: 12% 20% 12% 0;
    text-align: center; 
    
    p {
        color: rgba(17, 74, 117, 1);
        font-size: 18px;
        line-height: 28px;
    }
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }