<div class="content">
    <div class="row">
        <div class="column left">
            <p class="column-header">About Me</p>
            <p class="column-text">
                Hello! I'm Avraham Moshe, a software engineer based in 
                Miami, FL.
                <br>
                <br>
                I enjoy creating things that live on the internet, whether
                be websites, applications, or anything in between.
                My goal is to always build products that provide pixel-
                perfect, performant experiences.
            </p>
        </div>
        <div class="column right">
            <img src="/assets/img/Self Profile.png" width="310" height="350">
            <p>
                "A user interface is like a joke.<br>
                if you have to explain it,<br>
                its not that good" — Martin Leblanc
            </p>
        </div>
    <app-next-page-button id="app-about-page" btnText="Experience" btnUrl="#app-experience-page"></app-next-page-button>
  </div>
</div>